/* reset*/
* {
    box-sizing: border-box;
    margin: 0;

}

/* utils */
.hidden {
    display: none;
}

.d-flex {
    display: flex;
}

/* main */
main {

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    text-align: center;
}

/*timer */
#countdown {
    font-size: 10rem;
    color: #a0a0a0;
}

/* numbers */
#numbers {
    justify-content: space-between;
}

#numbers>* {
    font-size: 5rem;
    list-style-type: none;
    padding: 1rem;
}